.footer{
    background-color: lightgrey;
    color: blue;
}

.navbar{
    display: grid;

    grid-template-columns: 0.5fr 3fr 1fr 0.5fr 0.5fr;

    margin-bottom: 2rem;
    background-color: yellow;
}

button{
    border-radius: 0.5rem;
    margin: 1rem;
}

.textNavBar{
    
}