body{
    display: grid;
    grid-template-rows: 0.4fr 1fr 1.5fr 1fr;
}

footer{
    background-color: black;
    color: blue;
    
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    color: white;
    text-align: center;
    height: auto;

    list-style-type: none;

}

.contenier{
    margin: 2rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer div{
    color: orange;
    font-size: 1.1rem;
    text-align: center;
} 

.footer_info a:link, a:visited, a:hover{
    color: white;
}


.navbar{
    display: grid;

    grid-template-columns: 0.5fr 3fr 1fr 0.5fr 0.5fr;

    margin-bottom: 2rem;
    background-color: yellow;
}

button{
    border-radius: 0.5rem;
    margin: 1rem;
}

.textNavBar{
    
}

.srcbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 85%;

    background-color: orange;
    border-radius: 1.5rem;
    position: relative;
}

.srcloc,.srccat,.srcval,.srcsurf{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.drop1,.drop2,.drop3,.drop4{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop1 a,.drop2 a,.drop3 a,.drop4 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.wrap1, .wrap2, .wrap3, .wrap4 {
    position: relative;
    display: inline-block;
}

.drop1 a:hover {background-color: #ddd;}
.drop2 a:hover {background-color: #ddd;}
.drop3 a:hover {background-color: #ddd;}
.drop4 a:hover {background-color: #ddd;}

.wrap1:hover .drop1,
.wrap2:hover .drop2,
.wrap3:hover .drop3,
.wrap4:hover .drop4 {
    display: block;
}

.srcval:hover, .srcloc:hover, .srccat:hover, .srcsurf:hover {background-color: #3e8e41;}





