<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/search_page.css">
    <link rel="stylesheet" href="/css/submit.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />


</head>
<body>
  <div id="home_page_grip">
    <nav class="navbar">
        <button>Company Title</button>
        <div id="textNavBar">NavBar</div>
        <a href="/submit"><button>Καταχώρηση Αγγελίας</button></a>
        <button><img src="img/hm_dropdown.png" alt=""></button>
        <a href="/login"> <button>Σύνδεση</button> </a>
    </nav>
    <div>{{{body}}}</div>
    
    
    <footer class="footer">
        <div class="contenier">
            <div id="ft_logo">AgoraEnoikiasi</div>
            <div id="ft_nav">
                Naviagion
                <div class="footer-info">
                    <li><a href="/">Home</a></li>
                    <li><a href="/searchPage?perioxi=&katidoria=none&min_price=&max_price=&min_emvadon=&max_emvadon=">searchPage</a></li>
                </div>
            </div>
            <div id="ft_cnt">Contact
                <div class="footer_info">
                    <li>&#128379 +306969696969</li>
                    <li>&#128231 teamsupport@gmail.com </li>
                    <li>&#128337 Monday - Friday: 09:00 to 20:00</li>
                </div>
            </div>
            <div id="ft_sc">
                Social Media <br><br>
                <div class="footer_info">
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="/img/sc_icons/instagram-icon.png" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com">
                        <img src="/img/sc_icons/linkedin-icon.png" alt="LinkedIn">
                    </a>
                    <a href="https://www.tiktok.com" target="_blank">
                        <img src="/img/sc_icons/tiktok-icon.png" alt="TikTok">
                    </a>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="/img/sc_icons/youtube-icon.png" alt="YouTube">
                    </a>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="/img/sc_icons/facebook-icon.png" alt="Facebook">
                    </a>
                    <a href="https://x.com" target="_blank">
                        <img src="/img/sc_icons/twitter-x-icon.png" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    
  </div>

<script src="/scripts/srcbar.js"></script>
<script src="/scripts/submit.js"></script>

<script src="/scripts/map.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>