<div class="srcbar" id="srcbar_search_page">
    <div class="wrap1">
        <button class="srcloc" id="srcloc_search_page">Περιοχή</button>
        <div class="drop1"></div>
    </div>

    <div class="wrap2">
        <button class="srccat" id="srccat_search_page">Κατηγορία</button>
        <div class="drop2">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="wrap3">
        <button class="srcval" id="srcval_search_page">Τιμή</button>
        <div class="drop3">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="wrap4">
        <button class="srcsurf" id="srcsurf_search_page">Εμβαδόν</button>
        <div class="drop4">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    
    <button class="srcsrc" id="srcsrc_search_page">Αναζήτηση</button>
</div>

<div id="row3_search_page">

    <div id="search_div">
        <div>

            <div class="wrap" id="sort_wrap">
                <button class="sort_btn" id="sort_btn">Ταξινομηση</button>
                <div class="drop">
                    <a href="#">a</a>
                    <a href="#">b</a>
                    <a href="#">c</a>
                    <a href="#">d</a>
                </div>
            </div>

        </div>
        <div>2</div>
        <div>3</div>
        

    </div>
    <div>2</div>

</div>



