<div>
    <div class="title"></div>

    <div class="name"></div>

    <div class="password"></div>

    <div class="email"></div>

    <div class="phone"></div>

    <div class="com_hours"></div>

    <div class="buttom_sub"></div>
</div>