<form class="srcbar" action="/searchPage">
    <div class="wrap1">
        <input class="srcloc" name="perioxi" type="text" placeholder="Eisagete Perioxi">
    </div>

    <div>
      <select name="katidoria" id="katidoria">
        <option value=1 selected hidden>Select</option>
        <option value="Αγορά">Αγορά</option>
        <option value="Ενοικίαση">Ενοικίαση</option>
      </select>
    </div>  
    
    <div class="wrap3">
      <input class="srcloc" name="min_price" type="text" placeholder="Ελαχιστή Τιμή">
    </div>

    <div class="wrap3">
      <input class="srcloc" name="max_price" type="text" placeholder="Μέγιστη Τιμή">
    </div>
    
    <div class="wrap4">
      <input class="srcloc" name="min_emvadon" type="text" placeholder="Ελ. Εμβαδόν">
    </div>

    <div class="wrap4">
      <input class="srcloc" name="max_emvadon" type="text" placeholder="Μεγ. Εμβαδόν">
    </div>
    
    <button class="srcsrc" type="submit">Αναζήτηση</button>
</form>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Πώς μπορώ να αναζητήσω αγγελίες ακινήτων στο Oikogatos;
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="acc-body">
            Ο Oikogatos σου δίνει τη δυνατότητα να βρεις εύκολα και γρήγορα το αγαπημένο σου μέρος στον κόσμο. Πώς; Ακολουθώντας λίγα απλά βήματα που θα κάνουν την αναζήτησή σου πιο αποτελεσματική. Για να αναζητήσεις αγγελίες ακινήτων / αγγελίες κατοικιών στο Oikotogatos:
            <ul>
              <li>Μπαίνεις στην ιστοσελίδα του Oikogatos.</li>
              <li>Στη μπάρα αναζήτησης, εισάγεις την περιοχή που σε ενδιαφέρει, την κατηγορία ακινήτου, την επιθυμητή τιμή και το εμβαδόν (προαιρετικά).</li>
              <li>Κάνεις κλικ στην «Αναζήτηση» και εμφανίζονται οι αγγελίες ακινήτων που ταιριάζουν στα κριτήρια αναζήτησής σου.</li>
              <li>Μπορείς να κάνεις την αναζήτηση ακόμα πιο συγκεκριμένη, χρησιμοποιώντας τα επιπλέον διαθέσιμα φίλτρα.</li>
              <li>Τσεκάρεις τις αγγελίες που σε ενδιαφέρουν και αν κάποια σε ενδιαφέρει, επικοινωνείς με τον αγγελιοδότη, είτε τηλεφωνικά, είτε μέσω μηνύματος.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Ποια είναι η διαδικασία καταχώρησης ακινήτου στο Oikogatos;
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="acc-body">
            Εάν είσαι ιδιοκτήτης ακινήτου και θες να δημοσιεύσεις μια αγγελία πώλησης ή ενοικίασης στο Oikogatos ως ιδιώτης, η διαδικασία είναι πολύ απλή. Ειδικότερα:
            <ul>
              <li>Μπαίνεις στην ιστοσελίδα του Spitogatos.</li>
              <li>Κάνεις εγγραφή ή σύνδεση στον λογαριασμό σου.</li>
              <li>Κάνεις κλικ στην επιλογή «Καταχώρηση αγγελίας».</li>
              <li>Συμπληρώνεις όλα τα απαραίτητα πεδία με τις πληροφορίες του ακινήτου.</li>
              <li>Πατάς «Υποβολή» και δημοσιεύεις άμεσα την αγγελία στο Spitogatos και τα υπόλοιπα κανάλια του δικτύου μας.</li>
            </ul>
            Για σένα που αναζητάς να πουλήσεις ή να νοικιάσεις το σπίτι σου, αλλά και όποιο άλλο τύπο ακινήτου, ο Oikogatos είναι ο No. 1 προορισμός!
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Ποιες πρόσθετες υπηρεσίες ή εργαλεία θα με βοηθήσουν στην αναζήτηση ακινήτων;
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div>
            Κάνοντας εγγραφή στο Oikogatos, μέσω του προσωπικού σου λογαριασμού μπορείς να:
            <ul>
              <li>Προσθέτεις στα αγαπημένα σου τα ακίνητα που ξεχωρίζεις</li>
              <li>Αξιοποιείς όλες τις δυνατότητες του προφίλ σου</li>
              <li>Διαχείριση των αγγελίων.</li>
            </ul>
            Μπορείς δηλαδή, να έχεις πλήρη έλεγχο για να δεις ακριβώς αυτό που θέλεις, όποτε εσύ αποφασίζεις, όλα συγκεντρωμένα σε ένα μέρος αποκλειστικά για εσένα.
          </div>
        </div>
      </div>
    </div>
  </div>


