.user-card {
    display: flex;
    align-items: center;
    background-color: #3d5171;
    color: #e8e9eb;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    margin: 20px auto;
    gap: 20px;
}

.user-avatar img {
    border-radius: 50%;
    border: 3px solid #5cc9c0;
    width: 80px;
    height: 80px;
}

.user-info h3 {
    margin: 0 0 5px;
    color: #b1dd42;
}

.user-info p {
    margin: 3px 0;
}

.logout-btn, #change_prof_btn{
    margin-top: 10px;
    background-color: #5cc9c0;
    color: #272b32;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover, #change_prof_btn:hover{
    background-color: #b1dd42;
}

.pagination button{
    background-color: #3d5171; 
    color: #b1dd42;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-top: 2px; */
}

#pageNum-search_section, #pageNum-favorities, #pageNum-my_prop{
    color: white;
}

.form-field label{
    color:white;
}

.form-field input{
    color: gray;
}