#search_page_main_div{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.8fr;
}

#row3_search_page{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#search_div{
    display: grid;
    grid-template-rows: 0.1fr 5fr 1fr;
}

#srcbar_search_page{
    height: auto;
    padding: 20px;
    /* margin-top: 1%; */
    /* margin-bottom: 5%; */
    max-height: 100px;
}

#srcloc_search_page, #srccat_search_page, #srcval_search_page, #srcsurf_search_page, #srcsrc_search_page{
    padding: 5px;
}

/* Property */
.property-section {
    padding: 2rem;
    min-height: 50%;
  }
  
  .property-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .property-card {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;


    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; */
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 800px; /* Ή όσο χρειάζεσαι */
    margin: 1rem auto;

  }
  
  .property-card:hover {
    transform: scale(1.01);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .pagination button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .property-container {
      grid-template-columns: repeat(2, 1fr); /* 2 κάρτες σε μεγαλύτερες οθόνες */
    }
  }
  

/* Map */
#mapid {
  height: 100%;
  min-height: 400px;
  width: 100%;
}
/* place_grid */
.place_grid_cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.column {
  /* background-color: #f0f0f0; */
  padding: 20px;

  /* flex: 1;
  padding: 2%;
 */

}


.drop a{
  color: #b1dd40;
  background-color: #3d5171;
}

.drop a:hover{
  background-color: #448afd;
}


.property-section .user-info h3{
  color: white;
}